 *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
            background-color: #0056b3;;
        }

        .container {
            background: #fff;
            padding: 20px 30px;
            border-radius: 10px;
            box-shadow: 0 0 25px rgba(12, 12, 12, 0.1);
            min-width: 350px;
            text-align: center;
        }

        h3 {
            margin-bottom: 24px;
            font-size: 22px;
        }

        form {
            display: flex;
            flex-direction: column;
        }
        #form-row{
            text-align: left;
            display: flex;
            flex-direction: column;
        }
        #form-row i{
            margin:0 5px;
            color:  #0056b3;;
        }
        
        label {
            text-align: left;
            margin-top: 10px;
        }

        input {
            padding: 6px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        button {
            margin-top: 20px;
            padding: 8px;
            background-color:  #0056b3;;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
        }

       .container p {
            margin-top: 15px;
            font-size: 14px;
        }

        .container p a {
            color: #007bff;
            text-decoration: none;
        }
        .container p a:hover {
            text-decoration: underline;
        }
